<div class="mb-0">
  <div class="relative w-full overflow-hidden min-h-[100svh]">
      <!-- Image -->
      <img
        class="absolute inset-0 w-full h-full object-cover"
        src="assets/pngs/HeroSection.png"
        alt="herobg"
      />
  
      <!-- Text Overlay -->
      <div
        class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-95 p-4"
      >
        <h2
          class="text-4xl sm:text-4xl md:text-5xl font-medium text-white text-center"
        >
          Digital Solutions
        </h2>
        <h2
          class="text-4xl sm:text-4xl md:text-5xl font-medium text-[#666666] text-center"
        >
          That Drive Success
        </h2>
  
        <br />
        <p
          class="bg-[#242424] bg-opacity-50 backdrop-blur-md py-4 px-6 rounded-[8px] border border-[#262626] text-white text-lg space-x-2"
        >
          For
          <span class="bg-[#262626] px-3 py-1 rounded-lg">SMEs</span> ,
          <span class="bg-[#262626] px-3 py-1 rounded-lg">NGOs</span> ,
          <span class="bg-[#262626] px-3 py-1 rounded-lg">Startups</span> ,
          <span class="bg-[#262626] px-3 py-1 rounded-lg">Enterprise leaders</span>
          and
          <span class="bg-[#262626] px-3 py-1 rounded-lg">Social Good</span>
        </p>
        <br />
        <div class="flex flex-row gap-x-4">
          <button
            class="bg-opacity-50 backdrop-blur-md py-3 px-6 rounded-[8px] border border-[#262626] text-white"
          >
            Our Works
          </button>
          <button
            class="bg-[#0028A1] py-3 px-6 rounded-[8px] border border-[#262626] text-white"
          >
            Contact Us
          </button>
        </div>
  
        <br />
        <br />
        <br />
        <br />
        <br />
        <button
          class="bg-opacity-50 backdrop-blur-md py-3 px-6 rounded rounded-full border border-[#262626] text-white"
        >
          Trusted By 250+ Companies
        </button>
      </div>
    </div>
    <section>
      <div class="overflow-hidden border border-[#262626] bg-[#0F0F0F] py-3 px-6">
        <div class="marquee">
          <ul class="marquee-content">
            <li><img src="assets/svgs/zapier.svg" alt="zapier" /></li>
            <li><img src="assets/svgs/spotify.svg" alt="spotify" /></li>
            <li><img src="assets/svgs/zoom.svg" alt="zoom" /></li>
            <li><img src="assets/svgs/slack.svg" alt="slack" /></li>
            <li><img src="assets/svgs/amazon.svg" alt="amazon" /></li>
            <li><img src="assets/svgs/adobe.svg" alt="adobe" /></li>
          </ul>
        </div>
      </div>
    </section>
  
    
</div>

